##############git###################
.vscode
*.pdf
*.doc
*.docx
*.rar
*.txt
*.html
*.jpg
*.chm
*.log
*.zip
*.xml
tmp*
tags
GPATH
GRTAGS
GTAGS

##############modelsim###################
work
*.mpf
*.mti
*.wlf
*.vstf
wlf*
transcript
virtuals.do
wave.do
*.ini



##############vivado###################
.Xil
*.cache
*.hw
*.ioplanning
# IP选项改变可以重新生成
*.ip_user_files
*.runs
*.tmp
.cxl.ip

*.jou
*.log
*.str
*.sh
*.udo
*.f
*.do
*.bit

ies
questa
vcs
xsim

# IP一般情况下只需要xci文件，vivado就可以重新生成
**/ip/**/doc
**/ip/**/tcl
**/ip/**/*.veo
**/ip/**/*.xdc
**/ip/**/*.xml
**/ip/**/*.v

# block design 目录忽略文件。 所有文件都可以由*.bd文件重新生成
**/bd/**/hw_handoff
**/bd/**/ip
**/bd/**/ipshared
**/bd/**/sim
**/bd/**/synth
**/bd/**/ui
**/bd/**/*.bxml
**/bd/**/*.xdc

############### sdk忽略文件####################
.metadata
**_bsp/
**_hw_platform_*
RemoteSystemsTempFiles
webtalk
Debug
# 导出硬件步骤出来的文件，可以忽略，下次重新导出
*.hdf
*.o
*.bif

**sdk/**/Debug
**sdk/**/.cproject
**sdk/**/.project
launch_scripts

**sdk/**/.sdkproject
**sdk/**/system.mss
**sdk/**/Makefile
